<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>Connect layer example</display-name>
  <!-- <context-param>
    <param-name>PATH_TO_CONFIGURATION</param-name>
    <param-value>c:\campm\CampusM_dev_workspace\cl-plugin\src\main\configuration</param-value>
  </context-param> 
  -->
  <servlet>
    <servlet-name>CampusmInitServlet</servlet-name>
    <servlet-class>com.campusm.cl.servlet.CampusmInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured services</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>campusm</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>CampusM</realm-name>
  </login-config>
  <security-role>
    <role-name>campusm</role-name>
  </security-role>
</web-app>